body {
    background-image: url(../images/gtBackground.jpg);
}

.first-page-box{
    background-color: #f8f8f6;
    opacity: .80;
    border: solid lightgray 1.5px;
    padding: 75px;
    text-align: center;
    margin-top: 150px;   
}

h1 {
    font-size: 93px;
    font-family: 'Amatic SC', cursive;
}

.btn {
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
}

.second-page-box{
    background-color: #f8f8f6;
    opacity: .80;
    border: solid lightgray 1.5px;
    padding: 75px;
    text-align: center;
    margin-top: 50px;
}

